*{
    padding: 0px;
    margin: 0px;
}





/*estilos para header*/

.header{
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    flex-wrap: wrap;
    background-color: #66bde6;
    padding: 0px;
    color: #ffffff;
}

.item-flex-header{
    flex: 12%;
    background-color: #66bde6;
    text-align: center;
    padding: 8px;
}



.header #logo img{
    width: 100px;
}

#usuario{
    padding-top: 20px;
    align-items: center;
    text-align: right;
    flex: 6%;
}

#txt-usuario{
    align-items: center;
    padding-top: 30px;
    text-align: left;
    flex: 8%;
}

#switch-button{
    align-items: center;
    padding-top: 18px;
    background-color: #2c699b;
    text-align: right;
    flex: 2%;
}

#txt-mnoche{
    align-items: center;
    padding-top: 20px;
    background-color: #2c699b;
    text-align: left;
    flex: 4%;
}

#usuario img{
    align-content: center;
    width: 40px;
}

#carrito img{
    background-color: #2c699b;
    width: 35px;
}

.header #busqueda{
    flex: 65%;
}

nav{
    display:flex;
    flex: 65%;
    top: 0;
    justify-content: space-around;
    flex-wrap: wrap;
    z-index: 100;
}

nav a{
    flex-grow: 1;
    text-decoration: none;
    background: #2c699b;
    padding: 15px 0px;
    font-size: 25px;
    color: #ffffff;
    text-align: center;
    

}

nav a:hover{
    background: #244cbb;
    color: rgb(255, 255, 255);
        
}


.header #carrito{
    background-color: #2c699b;
}


/*Estilos para boton modo oscuro*/

:root {
    --color-green: #172841;
    --color-red: #83d0f3;
    --color-button: #2b7ca1;
    --color-black: #000;
}
#switch-button {
    display: inline-block;
}
#switch-button .switch-button__checkbox {
    display: none;
}
#switch-button .switch-button__label {
    background-color: var(--color-red);
    width: 45px;
    height: 25px;
    border-radius: 25px;
    display: inline-block;
    position: relative;
}
#switch-button .switch-button__label:before {
    transition: .2s;
    display: block;
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: var(--color-button);
    content: '';
    border-radius: 50%;
    box-shadow: inset 0px 0px 0px 1px var(--color-black);
}
#switch-button .switch-button__checkbox:checked + .switch-button__label {
    background-color: var(--color-green);
}
#switch-button .switch-button__checkbox:checked + .switch-button__label:before {
    transform: translateX(20px);
}

/*estilos para barra de busqueda*/
#form{
    width: 600px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    vertical-align: super;
}

.btn{
    box-shadow: 8px 8px 10px  rgba(0, 0, 0,0.15);
    background-color: white;
    color: #1f272b;
    padding: 5px;
    cursor: pointer;
    border-radius: 10px;
    margin-bottom: 20px;
}

/*.btn:hover{
    background-color: #66bde6;
    color: #f3f3f3;
}*/

/*estilos para footer*/

.footer{
    padding: 40px;
    font-family:Arial, Helvetica, sans-serif;
    background-color: #2c699b;
    display: flex;
    line-height : 22px;
    color: white;
}

.footer #menu{
    flex: 25%;
}

.footer #cliente{
    flex: 25%;

}

.footer #nosotros{
    flex: 25%;

}

.footer #redes{
    flex: 25%;

}

#redes img{
    width: 35px;
}